.main {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  color: $alice-blue;
  position: relative;
}

.main::after {
  content: "";
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  //   z-index: 10;
}

.mainContent {
  width: 100%;
  margin-left: 100px;
  justify-self: flex-end;
  background-color: #151329;
}
