.main {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  color: $alice-blue;
  position: relative;

  background: #151329;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.main::after {
  content: "";
  background-image: url("../assets/bg.png");
  background-size: 1000% 1000%;
  animation: gradient 20s ease infinite;

  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  //   z-index: 10;
}

.mainContent {
  width: 100%;
  margin-left: 100px;
  justify-self: flex-end;
  //   background-color: #151329;
}

.wrapper {
  padding: 35px 0 30px 40px;
  height: 100%;
}

.sectionHeading {
  position: fixed;
  display: inline-block;
  padding: 5px 0;
  border-bottom: 2px solid $imperial-red;
  p {
    font-size: 1.3rem;
  }
}

section {
  height: 100%;
}

.about {
  display: flex;
  align-items: center;
}
.aboutInner {
  h1 {
    font-size: 3rem;
    margin-bottom: 5px;

    span:first-child {
      font-weight: 500;
    }
    span:last-child {
      color: $imperial-red;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.7rem;
    color: $imperial-red;
  }

  p {
    color: #b7b6ba;
    font-size: 1.2rem;
  }
}
