.sidebar {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  //   padding: 70px 0 50px 0;
  background-color: rgba(transparent, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 1px;
    top: -100%;
    right: 0;
    background-color: #4158d0;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      $imperial-red 46%,
      $marigold 100%
    );
    animation: drop 10s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

  @media (max-width: 500px) {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(transparent, 0.4);

    .nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;

      li {
        margin: 0;
      }
    }

    .logo {
      display: none;
    }
  }
}

@keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 110%;
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $imperial-red;
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;

  ul {
    width: 100%;
  }

  li:not(:last-child) {
    margin-bottom: 40px;
    cursor: pointer;
  }
  a {
    display: flex;
    flex-direction: column;
    font-family: $headingFont;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    padding: 5px 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $marigold;
      width: 0;
      transition: all 0.3s;
    }

    &:hover {
      color: $marigold;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.01);
      backdrop-filter: blur(1px);

      &::after {
        width: 5px;

        @media (max-width: 500px) {
          width: 0;
        }
      }
    }

    i {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
  }
}
