//Fonts
$headingFont: "Source Sans Pro", sans-serif;
$bodyFont: "Imprima", sans-serif;
$subHeadingFont: "Cantora One", sans-serif;

//Colours
$alice-blue: #dbe4eeff;
$marigold: #f3a712ff;
$dark-blue-gray: #56638aff;
$imperial-red: #f71735ff;
$xiketic: #04030fff;
