@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Montserrat:wght@200;400&family=Source+Sans+Pro:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
  color: #fff;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.button {
  position: relative;
  background-color: transparent;
  color: #dbe4ee;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 15px 40px;
  border: 1px solid #4d4c5e;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f71735;
  width: 0%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover::before {
  width: 100%;
}

.bg {
  background: #151329;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.bg::after {
  content: "";
  background-image: url("../assets/bg.png");
  background-size: 1000% 1000%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #dbe4ee;
  width: 100%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.mainContent {
  width: 100%;
  margin-left: 100px;
  justify-self: flex-end;
}
@media (max-width: 500px) {
  .mainContent {
    margin-left: 0;
  }
}

.wrapper {
  margin: 0 50px;
  max-width: 1200px;
  width: 90%;
}
@media (max-width: 760px) {
  .wrapper {
    margin: 0 auto;
  }
}

.sectionHeading {
  margin-top: 30px;
  position: fixed;
  display: inline-block;
  padding: 5px 20px;
  border-bottom: 2px solid #f71735;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.sectionHeading span {
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
}

section {
  height: 100vh;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeInner h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}
.homeInner h1 span:first-child {
  font-weight: 500;
}
.homeInner h1 span:last-child {
  color: #f71735;
}
.homeInner h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.7rem;
  color: #f71735;
}
.homeInner p {
  color: #b7b6ba;
  font-size: 1.2rem;
  line-height: 2;
}
.homeInner ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homeInner ul li {
  margin-right: 20px;
}
.homeInner ul i {
  font-size: 2rem;
  color: #4d4c5e;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.homeInner ul i:hover {
  color: #f71735;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .aboutMe {
  margin-bottom: 50px;
  font-weight: 300;
}
.skills .aboutMe p:not(:last-child) {
  margin-bottom: 20px;
}
.skills .aboutMe span {
  color: #f71735;
  font-weight: 400;
}
.skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
@media (max-width: 760px) {
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  position: relative;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #2b1a48, #41143d);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
@media (max-width: 1000px) {
  .skills li {
    height: 100px;
  }
}
.skills i {
  font-size: 3rem;
}

.projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .projectImage img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.projects .projectInfo,
.projects .projectIcons,
.projects .projectNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects .projectDesc {
  padding: 20px;
  background-color: #1e1a34;
}
.projects .projectDesc > *:not(:last-child) {
  margin-bottom: 20px;
}
.projects .projectDesc P {
  color: #b7b6ba;
}
.projects .projectInfo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f71735;
}
.projects .projectInfo a {
  color: #f3a712;
}
.projects .projectInfo a:first-child {
  margin-right: 10px;
}
.projects .projectIcons li {
  margin-right: 5px;
}
.projects .main-carousel {
  width: 100%;
}
.projects .carousel-cell {
  max-width: 400px;
  margin-right: 30px;
  border-radius: 5px;
}

.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lds-ring {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.sidebar {
  width: 100px;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sidebar::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 1px;
  top: -100%;
  right: 0;
  background-color: #4158d0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(46%, #f71735), to(#f3a712));
  background: linear-gradient(to bottom, transparent 0%, #f71735 46%, #f3a712 100%);
  -webkit-animation: drop 10s 0s infinite;
          animation: drop 10s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
@media (max-width: 500px) {
  .sidebar {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .sidebar::after {
    -webkit-animation: swipe 10s 0s infinite;
            animation: swipe 10s 0s infinite;
    height: 1px;
    width: 15vw;
    top: 0;
    left: -100%;
    right: auto;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#f71735));
    background: linear-gradient(to right, transparent 0%, #f71735 100%);
  }
  .sidebar .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .sidebar .nav ul li {
    margin: 0;
  }
  .sidebar .logo {
    display: none;
  }
  .sidebar .socialNav {
    display: none;
  }
}

@-webkit-keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 110%;
  }
}
@-webkit-keyframes swipe {
  0% {
    left: -100%;
  }
  100% {
    left: 110%;
  }
}
@keyframes swipe {
  0% {
    left: -100%;
  }
  100% {
    left: 110%;
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f71735;
  margin-top: 30px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.nav ul {
  width: 100%;
}
.nav li:not(:last-child) {
  margin-bottom: 40px;
  cursor: pointer;
}
.nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
}
.nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f3a712;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav a:hover {
  color: #f3a712;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.nav a:hover::after {
  width: 5px;
}
@media (max-width: 500px) {
  .nav a:hover::after {
    width: 0;
  }
}
.nav a i {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.socialNav {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.socialNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socialNav li:not(:last-child) {
  margin-right: 10px;
}
.socialNav i {
  color: #4d4c5e;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.socialNav i:hover {
  color: #f3a712;
}

.contactForm {
  width: 100%;
  max-width: 560px;
}
.contactForm fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.contactForm legend {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 50px;
  font-weight: 300;
}
.contactForm .message {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.contactForm input,
.contactForm textarea {
  padding: 20px;
  width: 100%;
  color: #dbe4ee;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #4d4c5e;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  color: #4d4c5e;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  color: #4d4c5e;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  color: #4d4c5e;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  color: #4d4c5e;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: #4d4c5e;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input:focus,
.contactForm textarea:focus {
  outline: 1px solid #f71735;
}
.contactForm textarea {
  height: 200px;
}