@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Montserrat:wght@200;400&family=Source+Sans+Pro:wght@300;400;700;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
  color: #fff;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.button {
  position: relative;
  background-color: transparent;
  color: #dbe4ee;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 15px 40px;
  border: 1px solid #4d4c5e;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f71735;
  width: 0%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover::before {
  width: 100%;
}
@media (max-width: 500px) {
  .button {
    width: 100%;
  }
}

.bg {
  background: #151329;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.bg::after {
  content: "";
  background-image: url("../assets/bg.png");
  background-size: 1000% 1000%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  background-repeat: no-repeat;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #dbe4ee;
  width: 100%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.mainContent {
  width: 100%;
  margin-left: 100px;
  justify-self: flex-end;
}
@media (max-width: 500px) {
  .mainContent {
    margin-left: 0;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
@media (max-width: 760px) {
  .wrapper {
    margin: 0 auto;
  }
}

.sectionHeading {
  margin-bottom: 100px;
}
.sectionHeading h2 {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  color: #dbe4ee;
  position: relative;
  display: inline-block;
  opacity: 0;
}
.sectionHeading h2::first-letter {
  color: #f3a712;
  font-family: "Montserrat", sans-serif;
}
.sectionHeading h2::after {
  content: "";
  position: absolute;
  left: -10%;
  top: -25%;
  height: 10px;
  width: 100%;
  -webkit-animation: var(--animate, none);
          animation: var(--animate, none);
  background: rgb(247, 23, 53);
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, rgb(247, 23, 53)), to(rgb(243, 167, 18)));
  background: linear-gradient(90deg, rgb(247, 23, 53) 52%, rgb(243, 167, 18) 100%);
  z-index: -1;
  border-radius: 3px;
}
@media (max-width: 500px) {
  .sectionHeading h2::after {
    top: -30%;
  }
}
@media (max-width: 500px) {
  .sectionHeading h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .sectionHeading {
    margin-bottom: 50px;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  min-height: 100vh;
}
@media (max-width: 500px) {
  section {
    padding: 50 0px;
  }
}

.mobileNav {
  display: none;
}

.navBars {
  display: none;
}
.home {
  height: 100vh;
  min-height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeInner .mainHeading {
  display: none;
  font-size: 3.5rem;
  margin-bottom: 5px;
  line-height: 1;
}
@media (max-width: 500px) {
  .homeInner .mainHeading {
    font-size: 2.5rem;
  }
}
.homeInner .mainHeading span {
  display: inline-block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.homeInner .mainHeading span:hover {
  color: #f71735;
}
.homeInner h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.7rem;
  color: #f71735;
}
@media (max-width: 500px) {
  .homeInner h2 {
    font-size: 1.4rem;
  }
}
.homeInner p {
  color: #b7b6ba;
  font-size: 1.2rem;
  line-height: 2;
}
.homeInner ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homeInner ul li {
  margin-right: 20px;
}
.homeInner ul i {
  font-size: 2rem;
  color: #4d4c5e;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.homeInner ul i:hover {
  color: #f71735;
}

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills .aboutMe {
  margin-right: 50px;
  font-weight: 400;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .aboutMe p:not(:last-child) {
  margin-bottom: 20px;
}
.skills .aboutMe span {
  color: #f71735;
  font-weight: 700;
}
.skills .aboutMeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .skills .aboutMeWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .skills .aboutMe {
    width: 100%;
    margin-bottom: 100px;
    margin-right: 0;
  }
}
.skills .skillGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 50%;
  position: relative;
}
@media (max-width: 1000px) {
  .skills .skillGrid {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .skills .skillGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skills .skillGrid:before {
  content: "Skill Set";
  position: absolute;
  top: -75px;
  left: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 7rem;
  color: #1e1a34;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #f71735;
}
@media (max-width: 760px) {
  .skills .skillGrid:before {
    font-size: 5rem;
    top: -55px;
  }
}
.skills li {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  position: relative;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #2b1a48, #41143d);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1000px) {
  .skills li {
    height: 100px;
  }
}
.skills i {
  font-size: 3rem;
}
@media (max-width: 1000px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .projectImage img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.projects .projectInfo,
.projects .projectIcons,
.projects .projectNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects .projectDesc {
  padding: 20px;
  background-color: #1e1a34;
}
.projects .projectDesc > *:not(:last-child) {
  margin-bottom: 20px;
}
.projects .projectDesc P {
  color: #b7b6ba;
}
.projects .projectInfo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f71735;
}
.projects .projectInfo a {
  color: #f3a712;
}
.projects .projectInfo a:first-child {
  margin-right: 10px;
}
.projects .projectIcons li {
  margin-right: 5px;
}
.projects .main-carousel {
  width: 100%;
}
.projects .carousel-cell {
  max-width: 400px;
  margin-right: 30px;
  border-radius: 5px;
}

.flickity-page-dots .dot {
  background: rgb(121, 121, 121);
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}
@media (max-width: 760px) {
  .contactWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
}
.contact .contactForm {
  width: 50%;
}
@media (max-width: 760px) {
  .contact .contactForm {
    width: 100%;
    margin-bottom: 50px;
  }
}
.contact .mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 760px) {
  .contact .mapContainer {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 500px) {
  .contact .mapContainer {
    height: 350px;
  }
}
.contact .mapIconsBox {
  background-color: rgba(4, 3, 15, 0.6);
  padding: 30px;
  width: 70%;
  z-index: 200;
}
.contact .mapIconsBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact .mapIconsBox ul li:not(:last-child) {
  margin-right: 20px;
}
.contact .mapIconsBox ul i {
  font-size: 3rem;
  color: #f3a712;
}
@media (max-width: 1000px) {
  .contact .mapIconsBox ul i {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .contact .mapIconsBox ul i {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .contact .mapIconsBox {
    padding: 20px;
  }
}
.contact #map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  opacity: 0.2;
}

.lds-ring {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.sidebar {
  width: 100px;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sidebar::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 1px;
  top: -100%;
  right: 0;
  background-color: #4158d0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(46%, #f71735), to(#f3a712));
  background: linear-gradient(to bottom, transparent 0%, #f71735 46%, #f3a712 100%);
  -webkit-animation: drop 10s 0s infinite;
          animation: drop 10s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
}

@-webkit-keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -100%;
  }
  100% {
    top: 110%;
  }
}
@-webkit-keyframes swipe {
  0% {
    left: -100%;
  }
  100% {
    left: 110%;
  }
}
@keyframes swipe {
  0% {
    left: -100%;
  }
  100% {
    left: 110%;
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.logo {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f71735;
  margin: 30px auto 0 auto;
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.logo::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbe4ee), to(#1e1a34)), -webkit-gradient(linear, left top, left bottom, from(#dbe4ee), to(#1e1a34)), -webkit-gradient(linear, left top, left bottom, from(#f3a712), to(#f71735)), -webkit-gradient(linear, left top, left bottom, from(#f71735), to(#f3a712));
  background-image: linear-gradient(#dbe4ee, #1e1a34), linear-gradient(#dbe4ee, #1e1a34), linear-gradient(#f3a712, #f71735), linear-gradient(#f71735, #f3a712);
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
}
.logo::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #1e1a34;
  border-radius: 5px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.nav ul {
  width: 100%;
}
.nav li:not(:last-child) {
  margin-bottom: 40px;
  cursor: pointer;
}
.nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
}
.nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f3a712;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav a:hover, .nav a:focus, .nav a:active {
  color: #f3a712;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.nav a:hover::after, .nav a:focus::after, .nav a:active::after {
  width: 5px;
}
@media (max-width: 500px) {
  .nav a:hover::after, .nav a:focus::after, .nav a:active::after {
    width: 0;
  }
}
.nav a i {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.socialNav {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.socialNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socialNav li:not(:last-child) {
  margin-right: 10px;
}
.socialNav i {
  color: #4d4c5e;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.socialNav i:hover {
  color: #f3a712;
}

.contactForm {
  width: 100%;
  max-width: 560px;
}
.contactForm fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.contactForm legend {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 300;
}
.contactForm input,
.contactForm textarea {
  padding: 20px;
  width: 100%;
  color: #dbe4ee;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #4d4c5e;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  color: #9694b1;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  color: #9694b1;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  color: #9694b1;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  color: #9694b1;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: #9694b1;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.contactForm input:focus,
.contactForm textarea:focus {
  outline: 1px solid #f71735;
}
.contactForm textarea {
  height: 200px;
}